@model proyectoIngSoft.Models.RegistrarDescanso

@{
    ViewData["Title"] = "Registrar Descanso Médico";
}

<h2>Nueva Solicitud de Descanso Médico</h2>

<form asp-action="Index" enctype="multipart/form-data" method="post">
    <div>
        <label>DNI del Paciente</label>
        <input asp-for="DNIPaciente" class="form-control" />
        <span asp-validation-for="DNIPaciente" class="text-danger"></span>
    </div>

    <div>
        <label>Fecha de Atención</label>
        <input asp-for="FechaAtencion" type="date" class="form-control" />
        <span asp-validation-for="FechaAtencion" class="text-danger"></span>
    </div>

    <div>
        <label>Nombre del Doctor</label>
        <input asp-for="NombreDoctor" class="form-control" />
        <span asp-validation-for="NombreDoctor" class="text-danger"></span>
    </div>

    <div>
        <label>Código de Atención</label>
        <input asp-for="CodigoAtencion" class="form-control" />
        <span asp-validation-for="CodigoAtencion" class="text-danger"></span>
    </div>

    <div>
        <label>Razón del Descanso Médico</label>
        <textarea asp-for="RazonDescanso" class="form-control"></textarea>
        <span asp-validation-for="RazonDescanso" class="text-danger"></span>
    </div>

    <div>
        <label>Adjuntar Archivo</label>
        <input type="file" name="archivo" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Registrar Descanso Médico</button>
</form>